@import '../../../../styles/variables.scss';

.header {
  padding: 20px;
  width: 350px;
  flex-shrink: 0;

  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.title {
  margin-bottom: 30px;
  font-size: 30px;
  color: var(#{--text-color-default});
}

.monthSelector {
  display: flex;
  gap: 15px;
  align-items: center;
}