@import '../../../styles/variables.scss';

.monthStatistics {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background: var(#{--components-background-default});
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.month__wrapper{
  display: flex;
  gap: 20px;
  align-items: stretch;
  margin-bottom: 50px;
}