@import "../../../../styles/variables.scss";
.this__day__info{
  position: relative;
  padding: 40px;
  max-width: 750px;
  width: 100%;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  overflow: hidden;
}
.this__day__info__items {
  position: relative;
  z-index: 2;
}
.item{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  &:last-of-type{
    margin-bottom: 0;
  }
  .indicator, .indicator__name{
    margin-right: 30px;
  }
  .indicator{
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 3px 4px 10px -1px rgba(73, 147, 255,0.2);
    border-radius: 50%;
  }
  .indicator__name, .indicator__value{
    font-size: 14px;
  }

  .indicator__name{
    color: $base-color;
  }

  .indicator__value{
    color: var(#{--text-color-default});
  }
}
.cloud_img{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}




